/* navbar */
.nav-link {
    color: #333;
    margin-right: 20px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #1f7cff;
}

/* code from main.css */

/* hero section */
.hero-section {
    padding: 80px 0;
    background-color: #e9f3ff;
}

.hero-section h2 {
    font-weight: 700;
    color: #1b2b65;
}

.hero-text {
    flex-direction: column;
    display: flex
}

.hero-text p span {
    color: #49BBBD;
}

.hero-para {
    color: #696984;
    font-size: 24px;
    margin-top: 14px;
    margin-bottom: 24px;
}

.hero-text a {
    background-color: #49BBBD;
    padding: 18px 40px;
    box-shadow: 0 5px 8px -3px #000;
    font-size: 16px;
    align-items: flex-start;
    margin-right: auto;
    border: none;
    transition: 0.3s;
}

.hero-text a:hover {
    background-color: #1f7cff;
}


@media (min-width: 1400px) {

    .hero-text p,
    .hero-para {
        font-size: 20px;
    }

    .hero-text a {
        font-size: 14px;
    }
}



/* blog section */
.blog-list {
    padding: 80px 0;
}

.blog-lists {
    gap: 50px;
    padding: 10px;
}

.blog-lists h2 {
    font-size: 44px;
    color: #2F327d;

}

.blog-list h3 {
    font-size: 24px;
    background-color: #ffffffa4;
    padding: 15px 40px;
    bottom: 55px;
}
.blog-item{
    flex: 0 0 0 auto;
}
/* FOOTER */
/* code from the main.css */