.navbar {
    --bs-navbar-padding-y: 0.011rem;
    background-color: #4abbbe;
    z-index: 10000;
}

.navbar-nav {
    gap: 70px;
}

.p-style {
    font-size: 24px;
}

.btn-fix {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 50px;
    box-shadow: 0, 0, 0, 2, rgba(#0000004b);
}

.logBtn {
    background-color: #fff;
}

.signBtn {
    background-color: var(--second-color);
}

/* end navbar */
.hero {
    background-image: url(../img/index-landing/Header.webp);
    background-size: cover;
    width: 100%;

}

.hero h2 {
    font-size: 54px;
    margin-bottom: 15px;
}

.hero h2 span {
    color: #F48C06;
}

.hero .btn .btn-link .a-style {
    text-decoration: none;
    font-size: 24px;
    background-color: #ffffff31;
    padding: 22px 38px;
    border-radius: 50px;
    color: #fff;

}

.hero .play-btn {
    align-items: center;
    margin: 0 10px 0 0;
    height: 40px;
    cursor: pointer;

}

.hero .a-style {
    color: #252641;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
}

.hero .btn .btn-link:hover {
    background-color: #fff;
}

@media (max-width: 992px) {
    .hero h2 {
        font-size: 42px;
    }

    .hero .p-style {
        font-size: 18px;
    }

    .hero .btn-link,
    .hero .a-style {
        font-size: 18px;
        padding: 14px 32px;
    }

    .hero img.watch-anchor {
        height: 35px;
    }
}

@media (max-width: 576px) {
    .hero h2 {
        font-size: 28px;
    }

    .hero .p-style {
        font-size: 16px;
    }

    .hero .btn-link,
    .hero .a-style {
        font-size: 16px;
        padding: 12px 25px;
    }

    .hero img.watch-anchor {
        height: 30px;
    }
}


/* end hero */
.Success {
    padding: 120px 0 100px;
    text-align: center;
    justify-items: center;
}

.details {
    margin-top: 101px;

}

.success h2 {
    font-size: 48px;
    margin-bottom: 16px;
}

.success h3 {
    font-size: 32px;
}

.success p {
    font-size: 18px;

}

.padd-class {
    padding: 0 0 42px 0;

}

.img-size1 {
    width: 80%;
}

.img-size2 {
    width: 50%;
}

@media (max-width: 768px) {
    .img-size1 {
        width: 50%;
    }

    .img-size2 {
        width: 30%;
    }
}


/* end success */
/* start aii-in-one section */
.all-in-one {
    padding: 120px 0 100px;
    justify-items: center;
}

.all-in-one h2 {
    text-align: center;
    color: #2F327D;
    font-size: 36px;
}

.all-in-one h2 span {
    color: #00CBB8;
}

.div-allinone {
    padding: 160px 0 160px 0;
    flex: 1 0 300px;
    justify-content: center;
    background-color: #fff;
}

.boxes {
    gap: 60px;

}

.box-allinone {
    width: 450px;
    height: 420px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 60px;
    box-shadow: 10px 10px 25px 9px #262c7514;
    transition: all 0.3s ease;
}

.box-allinone:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(9, 10, 27, 0.15);
}


.all-in-one h3 {
    position: relative;
    bottom: 50px;
    font-size: 30px;
    color: #2F327D;

}

.all-in-one p {
    color: #696983;
    font-size: 20px;
    font-weight: 400;
    padding: 24px 55px 50px 55px;
    position: relative;
    top: -36px;
    line-height: 1.7;
}

.all-in-one .box-allinone img {
    position: relative;
    top: -69px;
}

@media (max-width: 992px) {
    .all-in-one h2 {
        font-size: 2rem;
    }

    .all-in-one .p-style {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .all-in-one {
        padding: 70px 0;
    }

    .box-allinone {
        margin-bottom: 30px;
        width: 350px;
        height: 320px;
    }

    .box-allinone h3 {
        font-size: 1.1rem;
        bottom: 71px;
    }

    .box-allinone p {
        font-size: 0.95rem;
        top: -75px;
    }
}

@media (max-width: 480px) {
    .all-in-one h2 {
        font-size: 1.6rem;
    }

    .all-in-one .p-style {
        font-size: 0.95rem;
        padding: 0 15px;
    }

    .box-allinone {
        padding: 30px 20px;
        margin-bottom: 30px;
    }
}

/* end all-in-one section */
.what-is-totc {
    text-align: center;
    font-size: 44px;
    height: 708px;
    justify-items: center;
    padding: 0 0 100px 0;
}

.what-is-totc h2 {
    font-weight: 700;
}

.what-is-totc h2 span {
    color: #00CBB8;
}

.what-is-totc p {
    color: #696983;
    text-align: center;
    letter-spacing: 0.48px;
    line-height: 43.2pxÙƒ
}

.box-style {
    gap: 100px;
    flex: 1 0 300px;
}

.rectangle-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    align-items: center;
    background-position: center;
    background-size: cover;
    transition: transform 0.4s ease;
    border-radius: 10px;
}

.h2-styles {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.div-a {
    background-color: transparent;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    border: 2px #fff solid;
    padding: 20px;
    width: 282px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    cursor: pointer;
    transition: all 1s ease;
}

.div-a:hover {
    border: none;
    outline: none;
    background-color: #23bfeed3;
    color: #fff;
}

.group1 {
    background-image: url(../../assetes/img/index-landing/whattottc1.webp);
    width: 600px;
    height: 383px;
    background-size: cover;
}

.group2 {
    background-image: url(../../assetes/img/index-landing/whattottc2.webp);
    width: 600px;
    height: 383px;
    background-size: cover;
}

@media (max-width: 992px) {
    .what-is-totc h2 {
        font-size: 2rem;
    }

    .p-style {
        font-size: 1rem;
        line-height: 1.6;
        padding: 0 20px;
    }

    .rectangle-wrapper {
        width: 90%;
        height: 320px;
    }

    .box-style {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .what-is-totc {
        font-size: 36px;
    }

    .rectangle-wrapper {
        width: 100%;
        height: 300px;
    }

    .div-a {
        padding: 14px 30px;
        font-size: 0.95rem;
    }

}

@media (max-width: 480px) {
    .what-is-totc {
        font-size: 28px;
    }

    .rectangle-wrapper {
        height: 260px;
    }

    .h2-styles {
        font-size: 1.3rem;
    }

    .p-style {
        font-size: 0.95rem;
        padding: 0 10px;
    }

    .div-a {
        width: auto;
        padding: 12px px;
    }
}

/*  you-can-doit section*/
.you-can-doittt {
    justify-content: center;
    text-align: center;
    padding: 180px 0 100px 0;
}

.you-can-doittt h2 {
    color: #2F327D;
}

.you-can-doittt span {
    color: #00CBB8;
}

.you-can-doittt p {
    color: #696984;
    margin-top: 30px;
    line-height: 1.4;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}

.you-can-doit .card img {
    width: 100%;
}

.you-can-doittt a {
    font-size: 22px;
    color: #696984;
}

.you-can-doit a:hover {
    color: #00e0b0;
}

.you-can-doit {
    background-image: url(./../img/index-landing/You\ Can\ Do\ With\ TOTC.webp);
    text-align: left;
    padding: 180px 0 100px 0;
}

.you-can-doittt .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 50px;
    border-radius: 20px;
}

.you-can-doittt .card-body {
    flex: 1;
    padding-right: 40px;
}

.you-can-doittt img.rounded-start {
    width: 180%;
    border-radius: 10px;

}

.you-can-doittt .play-btn {
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.you-can-doit .play-btn:hover {
    transform: translate(-50%, -50%) scale(1.1);
}


@media (max-width: 992px) {
    .you-can-doit {
        padding: 40px 30px;
    }

    .text-section {
        padding-right: 0;
        text-align: center;
    }

    .card-text {
        margin: 0 auto 30px;
    }

    .you-can-doit .card img {
        max-width: 100%;
    }
}


@media (max-width: 768px) {
    .title {
        font-size: 1.9rem;
    }

    .play-btn {
        width: 65px;
    }

    .you-can-doittt {
        padding: 70px 0;
    }

    .you-can-doittt img.rounded-start {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.6rem;
        line-height: 1.3;
    }

    .you-can-doittt a {
        font-size: 0.9rem;
    }

    .you-can-doittt img.rounded-start {
        border-radius: 10px;
        width: 70%;
    }

    .play-btn {
        width: 55px;
    }
}

/* start our features section */
.our-features {
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 80px 0;
}

.our-features h2 {
    font-size: 40px;
    color: #2f327d;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.our-features p {
    color: #696983;
    text-align: center;
    line-height: 1.7;
    font-size: 16px;
    margin: 0 auto 50px auto;

}

.our-features .card-body {
    margin: auto;
    text-align: justify;
}

.our-features span {
    color: #00CBB8;

}

.our-features .card {
    outline: none;
    border: none;
    margin-bottom: 60px;
}

.img-ditails {
    border-radius: 15px;
}

.our-features .card .card-title h3 {
    font-size: 24px;
    color: #2f327d;
    margin-bottom: 15px;
}

.list-design {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.feature-list {
    list-style: none;
    padding-left: 0;
    color: #696983;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.feature-list li {
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #696983;
}

.feature-list img {
    width: 24px;
    height: 24px;
}

.see-more-btn {
    display: inline-block;
    border: 2px solid #00cbb8;
    color: #00cbb8;
    padding: 12px 35px;
    border-radius: 40px;
    text-decoration: none;
    transition: all 0.3s ease;
    text-transform: capitalize;

}

.see-more-btn:hover {
    background-color: #00cbb8;
    color: #fff;
}


@media (max-width: 992px) {
    .feature-title {
        font-size: 32px;
    }

    .our-features h2 {
        font-size: 22px;
    }

    .card-title {
        font-size: 15px;
    }

    .feature-img {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .feature-title {
        text-align: center;
        text-align: center;
    }

    .card-title,
    .feature-list {
        text-align: center;
    }

    .feature-list li {
        flex-direction: column;
    }

}

@media (max-width: 480px) {
    .our-features h2 {
        font-size: 26px;
    }

    .our-features p {
        font-size: 14px;
    }

    .our-features .card-title {
        font-size: 1.2rem;
    }

    .see-more-btn {
        padding: 10px 25px;
        font-size: 14px;
    }
}

/*Latest News and Resources */
.latest-news-section {
    justify-content: center;
    justify-items: center;

}

.latest-news-section p {
    color: #696984;
    margin-bottom: 20px;

}

.latest-news-section h2 {
    color: #2f327d;
    letter-spacing: 0.5px;
}

.latest-news-section h6 {
    font-size: 22px;
    color: #696984;
}

.news-card {
    border-radius: 14px;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.news-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.image-wrapper {
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.news-card:hover img {
    transform: scale(1.05);
}

.news-notifi {
    background-color: #49BBBD;
    padding: 12px 35px;
    border-radius: 50px;
    font-size: 20px;
    margin-bottom: 20px;
}

.read-more {
    color: #696984;
    font-weight: 500;
    text-decoration: underline
}

.news-item {
    transition: transform 0.3s ease;
}

.news-item:hover {
    transform: translateX(6px);
}

.image-wrapper-sm {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
}

.image-wrapper-sm img {
    width: 180px;
    height: 120px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.news-item:hover img {
    transform: scale(1.08);
}

.news-item-span {
    background-color: #49BBBD;
    padding: 4px 22px;
    border-radius: 50px;
    font-size: 18px;
}


@media (max-width: 992px) {
    .news-card {
        margin-bottom: 20px;
    }

    .image-wrapper-sm img {
        width: 100px;
        height: 70px;
    }

    h2 {
        font-size: 1.8rem;
    }
}



/* testimonial-section */
.testimonial-section {
    color: #2f2f5f;
    text-align: start;
}

.testimonial-title {
    font-size: 0.9rem;
    color: #7d7da1;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.testimonial-section .row .row-line::before {
    content:" ";
    width: 25px;
    height: 1px;
    background-color: #696983;
    display: block;
}

.h2-title {
    font-size: 2.5rem;
    color: #2f2f7e;
    margin-bottom: 25px;
}

.description {
    color: #5e5e7d;
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 40px;
}

.btn-assessment {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.8px solid #00e0b0;
    border-radius: 50px;
    padding: 12px 28px;
    color: #00e0b0;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-assessment:hover {
    background-color: #00e0b0;
    color: #fff;
}

.btn-assessment .arrow {
    margin-left: 10px;
    font-size: 1.3rem;
}

.image-card {
    background-color: #a6d7ff;
    border-radius: 20px;
    padding: 40px 40px 120px;
    overflow: visible;
}

.testimonial-img {
    width: 90%;
    border-radius: 15px;

}

.testimonial-img:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transform: translateX(6px);
}

.next-btn {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    background-color: #fff;
    color: #2f2f7e;
    font-size: 2rem;
    font-weight: bold;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #00e0b0;
    border: 1.8px solid #00e0b0;
}

@media (max-width: 992px) {
    .h2-title {
        font-size: 2rem;
    }

    .image-card {
        padding: 30px 30px 100px;
    }


}

@media (max-width: 768px) {
    .testimonial-section {
        text-align: center;
    }

    .testimonial-img {
        max-width: 280px;
    }

    .h2-title {
        font-size: 1.8rem;
    }

    .btn-assessment {
        padding: 10px 24px;
    }

    .image-card {
        margin-top: 40px;
    }
}

@media screen and (max-width: 480px) {
    .h2-title {
        font-size: 1.5rem;
    }

    .description {
        font-size: 0.95rem;
    }

    .next-btn {
        width: 45px;
        height: 45px;
        font-size: 1.5rem;
    }
}