.login-register {
    padding: 20px 0;
    background-color: white;
}

.form-container {
    padding: 20px;
}

.tabs-color {
    background-color: #49bbbda6;
    color: #FFF;
    padding: 12px 0;
    width: 75%;
    margin: auto;
    border-radius: 50px;
}

.tabs-color a {
    background-color: var(--primar-color);
    padding: 8px 40px;
    border-radius: 50px;
    color: #FFF;
}

.h2-size {
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
}

p {
    margin-top: 43px;
    margin-bottom: 2.1rem;
}

.form-label {
    margin-bottom: 1rem;
}

.form-control {
    border-radius: 50px;
    padding: 15px;
    border-color: #49bbbd;
}

.nav-tabs .nav-link {
    border: none;
    color: #FFF;
}

.login-register .nav-pills .nav-link.active,
.nav-pills .show .nav-link {
    background-color:#49BBBD;
    color: white;
    border: none;
    border-radius: 20px;

}
 .login-acte{
    margin-left: 15px;
}
 .register-acte{
    margin-right: 15px;
} 

.nav .nav-pills .nav-tabs .nav-link .active {
    background-color: #49bbbd9a;
    color: white;
    border: none;
    border-radius: 50%;
}

.nav .nav-pills .nav-tabs .nav-link .disactive {
    color: white;
}

.form-check {
    padding: 10px 0 10px 24px;
}

.form-check-label {
    font-size: 14px;
}

.forgot-password {
    float: right;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    ;
}

.btn-login {
    background-color: #49bbbd;
    border-radius: 50px;
    color: white;
    padding: 15px;
    float: right;
    margin-top: 30px;
}

.btn-login:hover {
    background-color: #49bbbda2;
}

.login-register-img img {
    display: block;
    width: 100%;
    object-fit: contain;
}



@media (max-width:1470px) {
    .form-container {
        flex-direction: column;
    }
}

@media (max-width:1044px) {
    .form-container {
        width: 100%;
    }

    .login-register-img {
        display: none;
    }
}


@media (max-width:552px) {
    .tabs-color {
        width: 100%;
    }

    .tabs-color a {
        padding: 8px 20px;
        width: 100%;
    }
}




/* 50px auto; */